.caixa{
    background-color: rgba(169, 214, 218, 0.263) !important;
}

.titulo{
   color: rgb(27, 26, 26) !important;
   font-weight: bold !important;
}

.botao{
    border-radius: 30px !important; 
    background-color: rgba(228, 176, 192, 0.41) !important;
    color: rgb(67, 65, 65) !important ;
}

.postagens{
    background-color: white;
}

.text-decorator-none{
    text-decoration: none;
}